<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Build a Better Bootstrap</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="appearance.css">
</head>
<body>
  <div id="container"><%- yield %></div>
  <nav>
    <a href="/1a-columns">Part 1A</a>
    <a href="/1b-columns">Part 1B</a>
    <a href="/2-complex-layouts">Part 2</a>
  </nav>
  <script src="/lib/jquery.min.js"></script>
  <script src="behavior.js"></script>
</body>
</html>
