<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Build a Better Bootstrap</title>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="part-1.css">
  <link rel="stylesheet" href="part-2.css">
  <link rel="stylesheet" href="part-3.css">
</head>
<body>
  <%- yield %>
  <footer>
    <a href="/part-1">Part 1</a>
    <a href="/part-2">Part 2</a>
    <a href="/part-3">Part 3</a>
  </footer>
</body>
</html>
