@import 'options';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: none;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  display: flex;

  background-image: url('bg.png');
  background-position: center center;
  background-size: cover;
}

#container {
  margin: auto;
  width: 100%;
}

section {
  @extend %normal;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  text-align: center;
}

body, input, select {
  @extend %normal;
}

h1 { font-weight: inherit; }

body > nav {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: -32px;
  left: 0;
  height: 32px;
  width: 100%;

  background-color: $grey;

  line-height: 32px;

  transition: 0.2s all;

  &:before {
    content: '↟';
    display: block;
    position: absolute;
    height: 24px;
    width: 96px;
    top: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    background-color: $grey;

    color: darken($grey, 25%);
    font-size: 0.8rem;
    line-height: 24px;
    text-align: center;
  }

  &:hover {
    bottom: 0;

    &:before {
      content: '↡';
    }
  }

  a {
    color: darken($grey, 35%);
    font-size: 14px;
    text-decoration: none;

    margin: 0 10px;
  }
}

button.action {
  @extend %normal;

  display: block;
  margin: 5.0rem auto 0;
  padding: 1.5rem;
  width: 25.0rem;

  background-color: rgba(darken($grey, 35%), 0.15);
  border-radius: 100.0rem;
  border-width: 0;
  cursor: pointer;
  transition: background-color 200ms;

  color: $transparentish;
  font-weight: 600 !important;
  text-transform: uppercase;

  &:hover {
    background-color: darken($grey, 35%);
    color: white;
  }

  &:active {
    background-color: darken($grey, 45%);
  }
}

@import 'parts';
