@import 'options';

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('bg.png');
  background-position: center center;
  background-size: cover;
}

section {
  @extend %normal;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
  text-align: center;
}

body, input, select {
  @extend %normal;
}

h1 { font-weight: inherit; }

body > footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: -32px;
  left: 0;
  height: 32px;
  width: 100%;

  background-color: $grey;

  line-height: 32px;

  transition: 0.2s all;

  &:before {
    content: '↟';
    display: block;
    position: absolute;
    height: 24px;
    width: 96px;
    top: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    background-color: $grey;

    color: darken($grey, 25%);
    font-size: 0.8rem;
    line-height: 24px;
    text-align: center;
  }

  &:hover {
    bottom: 0;

    &:before {
      content: '↡';
    }
  }

  a {
    color: darken($grey, 35%);
    font-size: 14px;
    text-decoration: none;

    margin: 0 10px;
  }
}

@import 'parts';
