<section class="part-3">

  <form class="inputs">
    <div class="col col-4">
      <p><input type="checkbox"></p>
    </div>
    <div class="col col-4">
      <p><input name="foo" type="radio"></p>
    </div>
    <div class="col col-4">
      <p><input name="foo" type="radio"></p>
    </div>
    <div class="col col-4">
      <p>
        <select>
          <option>Brick</option>
          <option>Concrete</option>
          <option>Glass</option>
        </select>
      </p>
    </div>
  </form>

</section>
