<section class="part-1">
  <header class="constrained">Header</header>
  <nav class="constrained">Navigation</nav>
  <main class="constrained">
    <article>Main Content</article>
    <aside>Sidebar</aside>
  </main>
  <footer class="constrained">Footer</footer>
</section>
